.maindiv {
    width: 650px;
    height: 570px;
    margin: 0px auto;
    border: solid black 3px;
    position: relative;
}
.nowcanvas {
    border-left: solid black 3px;
    position: absolute;
    left: 350px;
}
.scorediv {
    width: 250px;
    height: 70px;
    border: solid black 1px;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 30px;
    text-align: center;
}
.nextcanvas {
    border: solid black 1px;
    position: absolute;
    left: 100px;
    top: 200px;
}